@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: "Spartan", sans-serif;

  // color: $light-grayish-magenta;
  // color: $dark-grayish-magenta;
  background-color: $white;
}
