@import "config";
@import "media";

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;

  padding: 1rem;

  text-align: center;

  & > div {
    padding: 1rem;
  }

  // & > div:nth-child(even) {
  //   background-color: $soft-pink;
  //   @include bigScreen {
  //     background-color: lightcyan;
  //   }
  // }

  // & > div:nth-child(odd) {
  //   background-color: lightseagreen;
  // }

  h1 {
    color: $very-dark-magenta;
  }

  p {
    color: $dark-grayish-magenta;
  }
}
