@import "config";
@import "media";

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;

  padding: 1rem;
  text-align: center;

  @include bigScreen {
    .heading {
      grid-area: heading;
    }

    .heading-message {
      grid-area: heading-message;
    }

    // .rating:nth-child(1) {
    .rating.one {
      grid-area: rating1;
      // background-color: aqua;
      // color: #000;
    }

    .rating.two {
      grid-area: rating2;
    }

    .rating.three {
      grid-area: rating3;
    }

    .post.one {
      grid-area: post1;
    }

    .post.two {
      grid-area: post2;
    }

    .post.three {
      grid-area: post3;
    }

    padding: 8rem;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-areas:
      "heading . rating1"
      "heading-message . rating2"
      "heading-message . rating3"
      "post1 post2 post3";
    // background-color: lawngreen;
  }

  & > div {
    padding: 1rem;
  }

  h1 {
    color: $very-dark-magenta;
  }

  p {
    color: $dark-grayish-magenta;
    font-weight: 500;
  }

  .rating {
    background-color: $light-grayish-magenta;

    border-radius: 0.7rem;
    & > .five-star-review {
      padding: 1rem;

      color: $very-dark-magenta;
      font-weight: 700;
    }
  }

  .post {
    line-height: 1.5;
    color: $light-grayish-magenta;
    background-color: $very-dark-magenta;

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;

    .profile-pic {
      border-radius: 50%;
      width: 50px;
    }

    .user-header {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      text-align: left;
      padding-left: 1rem;

      .user-name {
        font-weight: 700;
      }

      .verified-buyer {
        color: $soft-pink;
      }

      .name-status {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    .message {
      color: $light-grayish-magenta;
      margin-top: 1rem;
      font-weight: 500;
    }
  }
}
